<section class="features">
    <h1 class="heading"> Our <span>Features</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="../../assets/image/feature-img-1.png" alt="">
            <h3>Fresh and Organic</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vel.</p>
            <a href="" class="btn"> Read More</a>
        </div>

        <div class="box">
            <img src="../../assets/image/feature-img-2.png" alt="">
            <h3>Free Delivery</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vel.</p>
            <a href="" class="btn"> Read More</a>
        </div>

        <div class="box">
            <img src="../../assets/image/feature-img-1.png" alt="">
            <h3>Easy Payment</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, vel.</p>
            <a href="" class="btn"> Read More</a>
        </div>
    </div>
</section>
